{% extends "default.html" %}
<hr>
{% block content %}
    {% if data["Cookie"] | length != 0 %}


        <h3>How do we use cookies?</h3>
        <p>
            {% for cook in data["Cookie"] %}
                <li><a href="#{{cook['Cookie']|replace(' ','')}}">{{cook["schema:name"]}}</a></li>
            {% endfor %}
        </p>
            {% for item in data["Cookie"] %}
                <article>
                    <span resource="#{{item['resource']}}" typeof="dpv:Store">
                        <h3><span property="schema:name">{{item['schema:name']}}</span></h3>
                        <p>This cookie collects the following data:
                            <ul>
                                {% for data in item['dpv:hasPersonalDataCategory'] %}
                                <li>
                                    <span property="dpv:hasPersonalDataCategory">{{data}}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </span></p>
                        <p>Data collected by this cookie is collected for the following purpose: <span property="dpv:hasPurpose"
                                href="#{{item['dpv:hasPurpose']|replace(' ','')}}">{{item['dpv:hasPurpose']}}</span></p>
                        <p><span property="schema:description">{{item['schema:description']}}</span></p>
                        <p>Cookie Provenance: {{item['Provenance']}}</p>
                    </span>
                </article>
            {% endfor %}

        {% else %}
        <p>Our website does not use cookies.</p>
    {%endif%}
{% endblock %}