{% extends "default.html" %}
{%block content %}



    <div id="Overview">

        <p>{{ company }} has 6 different views with their corresponding data sources: </p>
        <li>Personal Data View</li>
        <ul>
            {% for personalData in data["dpv:PersonalDataHandling"] %}
                <li>{{personalData["dpv:hasPersonalDataCategory"] }}</li>
            {% endfor %}
        </ul>
        <li>Data Collection View</li>
        <ul>
        {{ macros.render_list(collect.keys()) }}
            {% for key in collect %}
                {% set col=collect[key] %}
            {% endfor %}
        </ul>
        <li>Purpose View</li>
         <ul>
            {% for purp in data["dpv:Purpose"] %}
                <li>{{ purp["dpv:hasPurpose"] }}</li>
            {% endfor %}
        </ul>
        <li>Data Sharing View</li>
        <ul>
            {% for recip in data["dpv:Recipient"] %}
                <li>{{recip["schema:name"]}}</li>
            {% endfor %}
        </ul>

        <li>Cookies</li>
        <ul>
            {% for cook in data["Cookie"] %}
                <li>{{cook["schema:name"]}}</li>
            {% endfor %}
        </ul>

        <li>Rights</li>
        <ul><li>Access</li></ul>
        <ul><li>Rectification</li></ul>
        <ul><li>Erasure</li></ul>
        <ul><li>Restrict Processing</li></ul>
        <ul><li>Object to processing</li></ul>
        <ul><li>Data Portability</li></ul>


    </div>

{% endblock %}