{% extends "default.html" %}
{%block content %}



    <div id="PurposeView">
        <p>Our services have different reasons(purposes) for collecting your data and this view should aim to clarify this</p>
        <p>We hope to indicate from each purpose the following:</p>
        <li>What personal data is used</li>
        <li>How the data is used</li>
        <li>The legal basis</li>
        <p>{{company}} collects your data for the following purposes:</p>
        <ul>
            {% for purp in data["dpv:Purpose"] %}
                <li><a href="#{{purp['dpv:hasPurpose']|replace(' ','')}}">{{ purp["dpv:hasPurpose"] }}</a></li>
            {% endfor %}
        </ul>

        {% for purp in data["dpv:Purpose"] %}
            {% include "Purpose-Item.html" %}
        {% endfor %}
    </div>

{% endblock %}