
<form action="#" method="post">
    <p>Input the following values for your {{cat}}</p>
    <p>Data Controller:</p>
    <p><input type="text" name="a"/></p>
    <p>Data Subject:</p>
    <p><input type="text" name="b"/></p>
    <p>Purpose(s):</p>
    <p><input type="text" name="c"/></p>
    <p>Processing:</p>
    <p><input type="text" name="d"/></p>
    <p>Recipient(s):</p>
    <p><input type="text" name="e"/></p>
    <p>Safety Measures:</p>
    <p><input type="text" name="f"/></p>
    <p>Legal Basis:</p>
    <p><input type="text" name="g"/></p>
    <p>Risk:</p>
    <p><input type="text" name="risk"/></p>
    <p>Collection Method:</p>
    <p><input type="text" name="h"/></p>
    <p>Storage Duration:</p>
    <p><input type="text" name="i"/></p>
    <p>Storage Location:</p>
    <p><input type="text" name="j"/></p>

    <p><input type="submit" value="submit"/></p>


</form>
